@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('/font/belligerent-webfont.woff2') format('woff2'),
         url('/font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}